@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'droid';
    src: url('fontes/idroid.otf')format('opentype');
    
}
:root{
    --cor0:#c5ebd6;
    --cor1:#83e1ad;
    --cor2:#3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue';
    --fonte-android: 'droid';
}
img{
    width: 100%;
}
header{
    font-family: var(--fonte-destaque);
    color:white;
    text-align: center;
    padding-top: 30px;
    background-image: linear-gradient(#02b602, rgba(35, 33, 33, 0.875));
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.44);
    margin: -10px -10px 0px -10px
}
a{
    font-family: Arial, Helvetica, sans-serif;
    transition-duration: .4s;
}

header > p{
    font-family: var(--fonte-padrao);
    font-size: 0.8em;
}
p{
    text-indent: 20px;
    line-height: 2em;
}
#principal{
   font-family: 'droid';
}
.versoes{
    color:var(--cor5);
    font-family: var(--fonte-android);
    background-image: linear-gradient(to right, rgb(183, 249, 182),white);
    text-indent: 8px;
}
nav{
    text-align: left;
    padding: 10px;
}
header > nav > a{
    color:white;
    text-decoration: none;
    padding: 0px 10px;  
}
header >nav>a:hover{
    padding: 7px;
    color:black;
    border-radius: 5px;
    background-color: rgba(2, 182, 2, 0.511);
}
body{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor0);
    margin-bottom: 0px;
}
main{
    background-color: white;
    padding: 10px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.44);
    border-radius: 0px 0px 10px 10px;
    min-width: 320px;
    max-width: 800px;
    margin:auto;
}

main img.humanoEdroid{
    max-width: 350px;
    display:block;
    margin:auto;
}
main > section > h1{
    color:var(--cor5)
}
main strong{
    color:var(--cor5);
    background-color: var(--cor1);
    font-weight: bolde;
    padding: 2px 6px;
}
article{
    background-color: var(--cor1);
    padding: 0px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.44);
}
article h3{
    color:white;
    border-radius:10px 10px 0px 0px;
    background-color: var(--cor4);
    padding: 10px;
    margin: 0px;
}
article ul{
    columns: 2;
    list-style-type: '\2714\00A0\00A0';
}
article p{
    padding: 10px;   
}

footer{
    background-color: var(--cor5);
    color:white; 
    margin: 0px -10px 0px -10px;  
}
footer > p{
    font-size:0.7em;
    border: 1px;
    padding: 10px;
    text-align: center;
    margin: 11px 0px 0px 0px;
}